body {
    background: linear-gradient(to top, #252525, #555555, #252525);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow-y: auto;
}

nav {
    width: 100%;
    background-color: #252525;
    color: white;
    top: 0;
    left: 0;
    padding: 10px;
    position: fixed;
    box-shadow: 3px 3px 6px rgb(0, 0, 0);
}

main {
    text-align: center;
    width: 100%;
    flex-grow: 1; /* Allow main to grow and take available space */
    padding-top: 200px;
}

footer {
    background-color: #252525;
    color: white;
    text-align: center;
    position: relative;
    width: 100%;
    margin-top:50px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    /* Center the navigation items */
}

nav li {
    margin-right: 100px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.logo {
    display: inline;
    font-family: 'Black Ops One', cursive;
    margin-left: 10px;
    /* Adjust margin for smaller screens */
    font-size: 24px;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.3);
    transition: transform 0.3s ease;
}

.logo:hover {
    display: inline-block;
    transform: scale(1.3);
}

.left {
    margin-right: auto;
}

.right {
    margin-left: auto;
    background-image: linear-gradient(to right, #AF0404, #FF0000 50%, #ffffff 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.right::before {
    content: '';
    background: #AF0404;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.right:hover {
    background-position: 0;
}

.right:hover::before {
    width: 100%;
}

.name {
    font-size: 100px;
    color: white;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hey {
    color: #FF0000;
    font-size: 50px;
    margin: 0;
    text-shadow: 1px 1px 2px rgba(252, 24, 24, 0.5);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.description {
    font-size: 25px;
    color: white;
    margin: 0;
    margin-bottom: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.reserved {
    color: white;
}

.more-about {
    background: linear-gradient(to right, #AF0404, #FF0000);
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    font-weight: bold;
    transition: background 0.3s ease, transform 0.3s ease;
}

.more-about:hover {
    background: linear-gradient(to right, #FF0000, #AF0404);
    transform: scale(1.1);
}

.github,
.linkedin {
    margin-top: 10px;
    background: linear-gradient(to right, #AF0404, #FF0000);
    color: #fff;
    padding: 10px 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 40px;
    font-weight: bold;
    transition: background 0.3s ease, transform 0.3s ease;
}

.linkedin:hover,
.github:hover {
    background: linear-gradient(to right, #FF0000, #AF0404);
    box-shadow: 2px 1px 3px #c42828;
    transform: scale(1.1);
}

.linkedin {
    margin-left: 10px;
}

@media only screen and (max-width: 600px) {
    nav {
        padding: 10px 5px;
        position: relative;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin: 8px 0;
        text-align: center;
        transition: transform 0.3s ease-in-out;
        width: 100%;
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    nav a {
        text-decoration: none;
        color: white;
        font-size: 15px;
        display: block;
    }
    main {
        padding-bottom: 100px; /* Adjust padding for smaller screens */
    }

    footer {
        /* Remove margin-top */
        margin-top: auto; /* Ensure the footer stays at the bottom */
    }
    .pages {
        margin-right: 40px;
    }

    .logo {
        margin-right: 70px;
    }

    .right {
        margin: 10px 0;
        /* Adjust margin for smaller screens */
    }

    .name {
        font-size: 40px;
        /* Adjust font size for smaller screens */
    }

    .hey {
        font-size: 35px;
        /* Adjust font size for smaller screens */
    }

    .description {
        font-size: 20px;
        /* Adjust font size for smaller screens */
    }


}