body {
    background: linear-gradient(to top, #252525, #555555, #252525);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow-y: auto;
}
nav {
    width: 100%;
    background-color: #252525;
    color: white;
    top: 0;
    left: 0;
    padding: 10px;
    position: fixed;
    box-shadow: 3px 3px 6px rgb(0, 0, 0);
}
main {
    text-align: center;
    width: 100%;
    flex-grow: 1; /* Allow main to grow and take available space */
    padding-top: 130px;
}
footer {
    background-color: #252525;
    color: white;
    text-align: center;
    position: relative;
    width: 100%;
}nav ul {
    list-style-type: none;
    justify-content: space-around;
    display: flex;
}
nav li {
    margin-right: 100px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.logo {
    display: inline;
    font-family: 'Black Ops One', cursive;
    margin-left: 10px;
    font-size: 24px;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.3);
    transition: transform 0.3s ease;
    /* Geçiş süresi ve animasyon tipini ayarlayabilirsiniz */
}

.logo:hover {
    display: inline-block;
    transform: scale(1.3);
}

.left {
    margin-right: auto;
    /* Pushes .left to the left */
}

.right {
    margin-left: auto;
    background-image: linear-gradient(to right, #AF0404, #FF0000 50%, #ffffff 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.right::before {
    content: '';
    background: #AF0404;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.right:hover {
    background-position: 0;

}

.right:hover::before {
    width: 100%;

}

/* Diğer stiller buraya gelecek */



.my-projects {
    color: #FF0000;
    font-size: 40px;
    margin: 0;
    text-shadow: 1px 1px 2px rgba(252, 24, 24, 0.5);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.project-container{
    margin-top:30px;
    border: #ffffff 2px solid;
    margin-left: 40px;
    margin-right:40px;
    margin-bottom:40px;
    border-radius: 20px;
    box-shadow: 2px 2px 3px #000000;
    
}
.project-left-side{
    float:left;
    margin-left:10%;
    width: 40%;
}
.project-right-side .image1{
  max-width: 300px;
  max-height: 300px;
  border-radius: 20px;
}

.project-name {
    color: #FF0000;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.image1{
    color:wheat;
    
}
.teck-stack {
    color: white;
    text-align: left;
    font-size: 20px;
}

.description{
    color: white;
    text-align: left;
    font-size: 20px;
    width: 120%; /* İstediğiniz genişliği ayarlayabilirsiniz */
    word-wrap: break-word;
}

.live-button  , .source-button ,.seeall-button {
    background-color: #AF0404; /* Yeşil arka plan rengi */
    color: white; /* Beyaz yazı rengi */
    padding: 10px 20px; /* Yatay ve dikey iç kenar boşlukları */
    border: none; /* Kenarlık yok */
    border-radius: 5px; /* Köşe yuvarlama */
    cursor: pointer; /* İmleç tipi */
    transition: background-color 0.3s ease; /* Renk değişimini yumuşak bir şekilde yapar */
    transition: transform 0.3s ease;

    /* İsteğe bağlı: Hafif bir gölge ekleyebilirsiniz */
    box-shadow: 0px 2px 4px #f15050;
}

/* Hover durumunda renk değişimi */
.live-button:hover ,.source-button:hover ,.seeall-button:hover{
    background-color: #FF0000;
    transform: scale(1.1); /* Hover durumunda yeşil tonunu değiştir */
}
.seeall-button{
    margin-bottom:40px;
}
.source-button{
    margin-left:20px;
}
.reserved {
    color: white;
}
.button-container{
    text-align: left;
}
.github, .linkedin {
    margin-top:10px;
    background: linear-gradient(to right, #AF0404, #FF0000);
    color: #fff;
    padding: 10px 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 40px;
    font-weight: bold;
    transition: background 0.3s ease, transform 0.3s ease;
}
.linkedin:hover , .github:hover {
    background: linear-gradient(to right, #AF0404, #FF0000);
    box-shadow: 2px 1px 3px #c42828;
    transform: scale(1.1);
}

.linkedin {
    margin-left:10px;
}
@media only screen and (max-width: 600px) {
    nav {
        padding: 10px 5px;
        position: relative;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin: 8px 0;
        text-align: center;
        transition: transform 0.3s ease-in-out;
        width: 100%;
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    nav a {
        text-decoration: none;
        color: white;
        font-size: 15px;
        display: block;
    }
    main {
        padding-top: 60px; /* Adjust padding for smaller screens */
    }

    footer {
        /* Remove margin-top */
        margin-top: auto; /* Ensure the footer stays at the bottom */
    }
    .skills-one .image , .skills-two .image , .skills-three .image {
        margin-right: 30px;
    }
    .pages {
        margin-right: 40px;
    }

    .logo {
        margin-right: 70px;
    }
   
   
    .description {
        font-size: 15px;
        text-align: center;
    }
    .project-name{
        text-align: center;
    }
    .teck-stack{
        text-align: center;
    }
    .project-container {
        flex-direction: row;
    }

    .project-left-side,
    .project-right-side {
        width: 70%;
    }
    .project-name{
        margin-left:40px;
    }
    .teck-stack{
        margin-left:40px;
    }
    .source-button{
        margin-left:50px;
        margin-bottom:20px;
    }
    .project-right-side .image1{
        width: 250px;
        height: 250px;
        border-radius: 20px;
        margin-left:20px;
        margin-bottom: 20px;
    }

}